        body{
            background-image: url('bg_main.jpg');
            background-repeat: no-repeat;
            background-size: 100%;
            background-color: #ffcc66;
            margin: 10px;
            align-items:center;
        }

        .container{
            display: block;
            
            /*border-radius:10px;*/
            width:55%;
            height: 60%;
            padding: 10px;
            margin: auto;
			
			
			
        }
        div.header{
            //background-color: rgba(220, 159, 17, 0.5);
            padding: 5px;
            margin: 5px;
            text-align: center;
            /*border-radius: 10px;*/
            font-family: 'Times New Roman', Times, serif;
			
			
        }
        div.subHeader{
            display: inline-block;
            background-color: rgba(171, 183, 183, 1);
            margin: 5px;
            padding-left: 5px;
            width: 97%;
        }
        table{
            line-height: 220%;
            width: 98%;
            font-size: 100%;
            font-family: 'Times New Roman', Times, serif;
            margin:auto;
            font-weight: bold;
        }
        td{
           
            padding-left: 5px;
            background-color: rgba(171, 183, 183, 0.7);
            margin: 5px;
			
        }
       
        input{
            background-color: rgba(253, 211, 115, 0.8);
            font-size: medium;
            font-family:'Times New Roman', Times, serif;
            color:#000;
            width: 23%;
            margin: 5px;
            padding: 10px;
            transition: background-color color;
            outline: none;
        }
        input:hover{
            background-color: #e69900;
            color:black;
        }
       *{
            box-sizing: border-box;
        }
        .column {
            float: left;
            width: 25%;
            padding: 5px;
        }
  
  /* Clearfix (clear floats) */
        .row::after {
            content: "";
            clear: both;
            display: table;
        }
        .logos{
            width:75px;
            height:50px;
            margin:0 8px;
        }
